*.log
.DS_Store
.env
.env.backup
.env.production
.well-known/pki-validation
.well-known/ssl-manager
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/public/.well-known/ssl-manager
/public/blog/wp-config.php
/public/blog/.hcflag
/public/blog/.htaccess.bk
/public/blog/wp-content/cache
/public/blog/wp-content/litespeed
/public/blog/wp-content/upgrade
/public/blog/wp-content/uploads
/storage/*.key
/storage/pail
/update/.well-known/ssl-manager
/vendor
*.bak
*.backup
*.sql
Homestead.json
Homestead.yaml
Thumbs.db
